body {
    font-family: Arial, sans-serif;
    background-color: #011100;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    width: 30vw;
    background-color: rgb(0, 24, 2);
    color: #fb8b24;
    padding: 30px;
    font-family: serif;
    position:relative;
    top:30vh;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="date"],
  .form-group textarea {
    width: 100%;
    padding: 8px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    color: aliceblue;
    box-sizing: border-box;
  }
  
  .form-group textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .form-group input[type="submit"],.form-group input[type="reset"] {
    background-color: #004202;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0px 10px;
    transition: ease 0.5s;
  }
  
  .form-group input[type="submit"]:hover {
    background-color: #45a049;
    transition: ease 0.5s;
  }
  .form-group input[type="reset"]{
    transition: ease 0.5s;
  }
  .form-group input[type="reset"]:hover{
    background-color: rgb(0, 0, 173) !important;
    transition: ease 0.5s;
  }
  #delUser{
    background-color: rgb(78, 0, 0) !important;
    transition: ease 0.5s;
  }
  #delUser:hover{
    background-color: rgb(182, 0, 0) !important;
    transition: ease 0.5s;
  }
  #id_avatar{
      margin-top: 5px;
  }
  #birthdayInput>select{
    background: transparent;
    color: aliceblue;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
  }
  #birthdayInput>select>option{
    background-color: rgb(3, 53, 23);
  }
  #birthdayInput>input{
      height: 100%;
      width: 100%;
  }
      .btn{
          margin: 0px 5px;
          border: none;
          border-radius: 5px;
          padding: 10px;
          color: white;
          font-weight: bold;
          font-style: sans;
          transition: ease 0.5s;
      }
      .btn:hover{
          transition: ease 0.5s;
          opacity: 0.7;
          color: white;
      }